@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  

//jumbootron
#jumboContainer{
    width: 100%;
    border-color: transparent;

    #jumbo{
        width: 100%;
        min-height: 200px;

    }
}

// griglis comics
.container-griglia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: rgb(51, 51, 51);
}

.row{
  height: 200px;
  margin: 50px;

  .col{
    margin: 10px;

    img{
      border: solid black 1px;
      width: 70%;
      height: 200px;
    }

    p{
      color: white;
    }
  }
}





//navbar
  .contenuto-1 {
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 10px;
  }
  
  .contenuto-2 {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px;
  }

  nav{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

  nav div{
    text-align: center;
  }
  
  #img-logo{
    max-width: 50px;
  }

  .btn-outline-success{
    color: dodgerblue;
    border-color: dodgerblue;
  }

  .btn-outline-success:hover {
    background-color: dodgerblue;
  }

  //scss sezione service 
  #containericon{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: dodgerblue;
    min-height: 50px;
    text-align: center;

    .section{

        p{
            color: white;
        }
    }
}


//FOOTER

footer{

    #footerUP{
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        // height: 1000px;
        background-color: rgb(51, 51, 51);

        #footerupRIGHT{
            display: flex;

            .lista{
                font-size: 16px;
                margin-left: 50px;
                margin-top: -5px;
                color: white;

                P{
                    color: dodgerblue;
                }

                ul{
                color: darkgray;
                margin-left: -40px;
                line-height: 20px;
                list-style: none;
                }
            }

           
        }
    }
    
    #footerDOWN{
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        background-color: rgb(51, 51, 51);
        width: 100%;

        #footerdownRIGHT{
             .bottone{
                p{
                    border:1px solid dodgerblue;
                    color: white;
                    padding: 20px;
                }
             }
        }


        #footerdownLEFT{
            display: flex;
            align-items: center;
        }

        p{
            color: dodgerblue;
            font-weight: 900;
            font-size: x-large;
        }

        img{
            margin-left: 5px;
            // margin-right: 10px;
        }
    }
}

